@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  background: #8ecae6;
  color: white;
}


#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.App {
  height: 100%;
}

* {
  scroll-behavior: smooth;
}